<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.threebars.worldclock2"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.threebars.worldclock2.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Receives the search request. -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <!-- No category needed, because the Intent will specify this class component-->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Points to searchable meta data. -->
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
        </activity>
        
        <!-- Provides search suggestions for words and their definitions. -->
        <provider android:name="com.threebars.worldclock2.CitiesProvider"
                  android:authorities="com.threebars.worldclock2.CitiesProvider" 
                  android:searchSuggestIntentAction="android.Intent.action.VIEW"/>
        
        <!-- Points to searchable activity so the whole app can invoke search. -->
        <meta-data android:name="android.app.default_searchable"
                   android:value=".MainActivity" />
        
        
        

           <!-- this is the searchable activity; it performs searches -->
	    <activity android:name=".SearchableActivity" >
	        <intent-filter>
	            <action android:name="android.intent.action.SEARCH" />
	        </intent-filter>
	
	        <meta-data
	            android:name="android.app.searchable"
	            android:resource="@xml/searchable" />
	    </activity>
	    
	    <activity android:name=".UserSettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.threebars.worldclock2.MainActivity" />
        </activity>
        
	    
        
 
	    <activity android:name=".WidgetSettingsActivity" >
	        <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
  
        <receiver android:name="com.threebars.worldclock2.MyWidgetProvider" android:label="@string/small_widget_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data	android:name="android.appwidget.provider"
                android:resource="@xml/clock_app_widget_info" />
        </receiver>
        
       <receiver android:name="com.threebars.worldclock2.LargeAppWidgetProvider" android:label="@string/medium_widget_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data	android:name="android.appwidget.provider"
                android:resource="@xml/clock_app_widget_4x2_info" />
        </receiver>

</application>

</manifest>